VITE_SUPABASE_URL=https://zvahmhesedbpppkgfswa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2YWhtaGVzZWRicHBwa2dmc3dhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNjc4NjYsImV4cCI6MjA5MDY0Mzg2Nn0.gQJhQrYjAVbNe1LJKiFk4MNTL16h-rWZAyO0UKl4MzA
RESEND_API_KEY=
